html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

h1, h2, h3, h4, p, span {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.header {
    background-image: url("../img/background/424979-svetik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 90vh;
    box-shadow: 3px 1px 10px 2px #aeb0b2;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
}

.header__flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav {
    background-color: white;
}

.header__flex-nav {
    width: 70%;
}

.header__flex h3 {
    margin: auto;
}

.header__flex h3 a {
    color: black;
    text-decoration: none;
}

.header__logo {
    display: block;
    margin: auto 0;
    padding: 1%;
}

.header__user {
    display: block;
    margin: auto 0;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

.header__logo img {
    width: 80%;
    height: auto;
}

.header__user img {
    width: 80%;
    height: auto;
}

.about {
    display: block;
    width: 100%;
    height: 30vh;
}

.about__h1 {
    padding: 1%;
    text-align: center;
    margin-top: 2%;
}

.about__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.about__box {
    display: block;
    width: 25%;
    text-align: center;
    padding-top: 1%;
}

.about__box h3 {
    margin-top: 5%;
}

.section-main-article {
    background-image: url("../img/background/424979-svetik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100vh;
    box-shadow: 3px 1px 10px 2px #aeb0b2;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
}

.section-main-article__h1 {
    display: block;
    text-align: center;
    color: white;
    padding: 2%;
}
